body {
	font: 15px/22px 'Fira Sans', sans-serif;
	color: #001a34;
	width: 100%
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold
}

a:hover,
a:focus {
	text-decoration: none;
	color: #1569bc;
	outline: none;
}

.float-left {
	float: left !important;
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}

.pb-1,
.py-1 {
	padding-bottom: .25rem !important;
}

.fixed {
	position: fixed
}

.fixed-right {
	right: 0;
}

.d-none {
	display: none!important
}

.link {
	color: #00a6ff;
}

.form-indent {
	margin: 20px 0;
}

.main-header .header-top {
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #eaedef;
	padding: 8px 0 6px;
}

.main-header .header-top {
	height: 35px;
}

.main-header {
	position: relative;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

@media only screen and (min-width: 992px) {
	.main-header {
		z-index: 1041;
	}
}

.main-header .header-top-content {
	padding: 0;
	margin: 0;
	float: left;
}

.main-header .header-top-content-left {
	float: left;
}

.main-header .header-top-content-right {
	float: right;
}

.main-header .header-top-item,
.main-header .header-top-item a {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #001a34;
}

.main-header .header-top-item .header-top-phone,
.main-header .menu-mobile-phone {
	font-weight: 700;
	font-size: 15px;
}

.main-header .header-top-content .header-top-item {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer
}

.main-header .header-top-content .header-top-item+.header-top-item {
	margin-left: 20px;
	position: relative
}

.main-header .header-top-content .header-top-item>a:hover {
	color: #ff004b;
}

.main-header a {
	text-decoration: none
}

.main-header .header-middle {
	position: relative;
	margin: 15px 0;
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-header .header-logo {
	display: inline-block;
	vertical-align: middle;
}

.main-header .header-logo img {
	max-width: 100%;
	height: auto
}

.main-header .header-search {
	position: relative;
	width: 40%;
}

@media screen and (min-width: 992px) {
	.main-header .header-search {
		margin: 0 20px;
	}
}

@media screen and (max-width: 991px) {
	.main-header .header-search {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		display: none;
	}
	.main-header .header-middle {
		margin: 0;
	}
	.main-header .container {
		height: 0;
	}
}

.main-header .header-search.show input.input-text {
	background: #fff;
	font-weight: normal;
	font-size: 13px;
}

.main-header .header-search .input-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 23px
}

.main-header .header-search input.input-text {
	vertical-align: middle;
	cursor: pointer;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 50px 10px 15px;
	margin: 0;
	border: 2px solid #eaedef;
	border-radius: 6px;
	font-weight: 600;
}

.main-header .header-search input.input-text:focus {
	border-color: #747f7f;
}

.main-header .search-content {
	position: relative
}

.main-header .header-search .icon-s {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px
}

.main-header .header-search .find {
	height: 18px;
	position: relative;
	width: 18px
}

.main-header .header-search .search-find,
.main-header .header-search .result-search {
	position: absolute;
	top: 14px;
	right: 15px;
	cursor: pointer
}

.main-header .header-search .result-search {
	display: none;
	top: 15px;
	right: 49px
}

.main-header .header-search .search-find:after,
.main-header .header-search .search-find:before {
	content: '';
	display: block;
	position: absolute
}

.main-header .header-search .search-find:before {
	border: 2px solid #001a34;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 14px;
	left: 0;
	top: 0;
	width: 14px
}

.main-header .header-search .search-find:after {
	background: #001a34;
	bottom: -1px;
	height: 9px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 2px;
	width: 2px
}

.main-header .header-user-menu {
	font-size: 0;
	text-align: right;
}

.main-header .header-basket {
	display: inline-block;
	font-size: 0;
	text-align: right;
	vertical-align: middle;
	line-height: normal
}

.main-header .user-menu-item {
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.main-header .user-menu-item+.user-menu-item {
	margin-left: 40px
}

@media screen and (max-width: 991px) {
	.main-header .header-user-menu .user-menu-item {
		position: absolute;
		top: -38px;
		right: 35px;
		margin: 0;
	}
	.main-header .header-user-menu .user-menu-item>button {
		font-size: 0;
		width: 30px;
		height: 30px;
		padding: 0;
	}
}

.main-header .user-menu-item>a {
	display: block;
	position: relative;
	font-size: 13px;
	line-height: 20px;
	padding-top: 30px;
	color: #001a34;
	outline: 0;
	min-width: 50px;
	height: 50px;
	text-align: center;
	font-weight: 500;
}

.main-header .user-menu-icon,
.main-header .user-menu-icon:before {
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover
}

.main-header .user-menu-login .user-menu-icon {
	left: calc(50% - 9px);
	background-image: url(/image/catalog/icon-svg/user-gray.svg)
}

.main-header .header-wishlist .user-menu-icon {
	left: calc(50% - 6px);
	background-image: url(/image/catalog/icon-svg/heart-gray.svg)
}

.main-header .cart-informer {
	text-align: center
}

.main-header .user-menu-item>button {
	display: block;
	position: relative;
	font-size: 13px;
	line-height: 20px;
	color: #001a34;
	outline: 0;
	padding: 30px 0 0 0;
	font-weight: 600;
	background: transparent;
	border: 0
}

.main-header .user-menu-item>button .user-menu-icon {
	background-image: url(/image/catalog/icon-svg/cart-gray.svg);
	left: calc(50% - 15px);
}

.main-header .user-menu-item>button .user-menu-icon,
.main-header .header-wishlist .user-menu-icon,
.main-header .user-menu-login .user-menu-icon {
	width: 21px;
	height: 21px;
	top: 3px;
}

.main-header .user-menu-item .count {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background-color: #9acd32;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	line-height: 20px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	margin-top: -5px;
}

@media only screen and (min-width: 992px) {
	.main-header .user-menu-item .count {
		margin-right: 5px;
	}
}

.main-header .header-menu {
	border-top: 1px solid #eaedef;
	position: relative;
}

.main-header .header-menu-block {
	list-style: none;
	display: table;
	width: 100%;
	margin: 0;
	max-width: none;
	table-layout: auto;
	border-collapse: collapse;
}

.header-menu-item.goods-action .nav-item-link {
	background-color: #ff004b;
}

.header-menu-item.goods-action .nav-item-link .header-item-text {
	color: #fff;
}

.main-header .dropdown-image {
	list-style: none;
	overflow: hidden;
	margin: 0 0 1.9rem;
	max-height: 5rem;
	padding: 0;
}

.main-header .navigation-menu-image {
	display: table-cell;
	vertical-align: bottom;
	box-sizing: border-box;
	width: 19rem;
}

.main-header .main-logo {
	width: 25%;
}

.main-header .main-logo h1 {
	margin: 0;
}

.main-header .header-menu-item {
	font-weight: 600;
	display: table-cell;
	border-left: 1px solid #eaedef;
	text-align: center;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 14px;
}

.main-header .header-menu-item.sub:hover>a {
	color: #000;
	opacity: 1;
}

.main-header .header-menu-item.sub:hover .header-item-text:after {
	position: absolute;
	bottom: -9px;
	right: 2px;
	left: 2px;
	height: 10px;
	content: '';
	z-index: 1002;
	background: #fff;
}

.main-header .header-menu-item.sub:hover>a:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	content: '';
	z-index: 3;
	box-shadow: 0 5px 3px rgba(0, 0, 0, .4) inset;
}

.main-header .header-menu-item.sub:hover .header-item-text:before {
	content: '';
	border-top: 4px solid #001a34;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.header-menu-column {
	float: left;
	box-sizing: border-box;
	padding: 0 1.6rem 9999rem 1rem;
	margin: 0 0 -9999rem;
	width: 19rem;
	border-left: 1px solid #eaedef;
}

.header-menu-column:first-child {
	border-style: none;
}

.header-menu-block.parent-active>.header-menu-item>a {
	opacity: .5;
}

.main-header .header-menu-item>a {
	text-decoration: none;
	display: block;
	vertical-align: middle;
	min-height: 57px;
	padding: 0 5px;
	color: #001a34;
	position: relative;
}

.main-header .header-menu-item>a:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 57px;
	margin: 0 0 0 -1px;
	vertical-align: middle;
}

.header-item-text {
	overflow: hidden;
	width: 100%;
	max-height: 57px;
	vertical-align: middle;
	display: inline-block;
}

.nav-dropdown {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: #fff;
	text-align: left;
	border-bottom: 4px solid #001a34;
	font-weight: 400;
	z-index: 1001;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4) inset;
}

.header-menu-item.active .nav-dropdown {
	display: block;
}

.nav-dropdown-title {
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
	min-height: 36px;
	padding: 0 10px 0 0;
	margin-bottom: 14px;
	display: block;
}

.dropdown-menu-item {
	position: relative;
	overflow: hidden;
	padding: 0 0 2rem;
	margin-bottom: 3rem;
}

.dropdown-menu-item,
.main-header .header-menu-column ul {
	list-style: none;
}

.main-header .header-menu-column ul {
	list-style: none;
	overflow: hidden;
	padding: 0 0 2rem;
}

.main-header .header-menu-column ul li {
	font-size: 1.3rem;
	line-height: 1.6rem;
	margin-bottom: .9rem;
}

.main-header .header-menu-column ul li a {
	text-decoration: none;
	word-wrap: break-word;
}

.main-header .header-menu-column ul a {
	color: #001a34;
}

.main-header .dropdown-holder {
	position: relative;
	padding: 22px 0 2px;
}

.main-header .dropdown-holder:after,
.main-header .dropdown-holder:before {
	display: table;
	content: "";
	line-height: 0;
}

.main-header .dropdown-holder:after {
	clear: both;
}

.main-header .header-menu-column ul a:hover {
	color: #ff004b;
}

.main-header .header-menu-column ul a {
	display: block;
}

.main-header .header-menu-column>strong>a {
	color: #001a34;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	border-bottom: 1px solid #ccc;
}

.header-menu-column>strong>a:hover {
	color: #ff004b;
}

.main-wrapper {
	background: #fff;
	padding: 15px 0;
	z-index: 46;
}

@media only screen and (min-width: 768px) {
	.common-home .main-wrapper {
		padding: 0 0 15px;
	}
}

.footer {
	background: #eef0f2;
	position: relative;
	font-weight: 400;
	line-height: 22px;
	padding-top: 100px;
	margin-top: 20px;
}

.footer .footer-wrap {
	width: 100%;
	padding: 30px 0 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	border-top: 1px solid #d7dade;
}

.footer .footer-wrap h5 {
	margin-top: 0;
	color: #222;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 16px;
}

.footer .footer-wrap h5:before {
	position: absolute;
	content: "";
	width: 45px;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #ef244d;
}

.footer .footer-wrap ul>li>a {
	font-weight: 700;
	font-size: 13px;
	line-height: 22px;
	color: #2a3744;
}

@media only screen and (min-width: 1024px) {
	.footer .footer-wrap .phone {
		font-size: 20px;
	}
}

.footer .footer-wrap ul>li>a:hover {
	color: #ff004b;
}

.footer .footer-wrap ul>li+li {
	margin-top: 12px;
}

@media only screen and (min-width: 992px) {
	.footer .footer-wrap .col-sm-3 {
		width: 20%;
	}
}

.footer-bottom {
	padding: 20px 0 0;
	background: #d7dade;
	font-size: 13px;
	color: #001a34;
}

#content {
	min-height: 600px;
}

.owl-carousel.carousel .owl-wrapper-outer {
	box-shadow: none;
	border: none;
	border-radius: 0;
}

#cart .dropdown-menu {
	width: 380px;
	padding: 20px;
	top: 59px;
}

#cart .dropdown-menu::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -10px;
	right: 18px;
	content: "";
}

#cart .table>tbody>tr>td,
#cart .table-bordered {
	border: none;
	padding: 8px 0;
	vertical-align: middle;
}

#cart .dropdown-menu>li>p {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
}

#cart .cart-btn {
	text-transform: uppercase;
	font-size: 14px;
	padding: 11px 25px 11px;
	border-radius: 4px;
	background: #ff4e4f;
	border: 2px solid #ff4e4f;
	color: #fff;
	font-weight: 600;
}

#cart .cart-btn:hover {
	background: #ee3c3d;
	border-color: #ee3c3d;
}

#cart .product-name {
	width: 50%;
}

#cart .product-name>a {
	font-size: 13px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 54px;
}

#cart .product-price {
	font-weight: 700;
	font-size: 12px;
}

#cart .trash-icon {
	background-image: url(/image/catalog/icon-svg/trash.svg);
	width: 14px;
	height: 14px;
	display: inline-block;
	background-size: contain;
	box-sizing: content-box;
	background-repeat: no-repeat;
	cursor: pointer;
}

#cart .product-clear {
	width: 50px;
}

@media screen and (max-width: 991px) {
	#cart .dropdown-menu {
		width: 300px;
		padding: 10px;
		top: 40px;
		right: -13px;
		margin: 0;
		max-width: 88vw;
	}
	#cart .table>tbody>tr>td,
	#cart .table-bordered,
	#cart .product-name>a {
		font-size: 11px;
	}
}

.product-thumb {
	position: relative;
	margin-bottom: 20px;
	padding: 19px 15px 25px 15px;
}

.product-thumb.transition {
	background: #fff;
	padding: 19px 15px 25px 15px;
	box-shadow: 0 0 0 1px #f2f2f2 inset;
	margin: 0 -1px -1px 0;
}

.product-thumb.transition:hover {
	z-index: 5;
}

.product-thumb.transition:hover:before {
	position: absolute;
	content: "";
	background: #fff;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: 0;
}

.product-thumb .price .main-price {
	color: #001a34;
	display: block;
	line-height: normal;
	font-size: 20px;
	font-weight: 700;
}

.product-thumb .price-new.main-price {
	color: #ff004b;
}

.product-thumb .price .price-old {
	display: inline-block;
	margin-right: 7px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	color: #001a34;
	position: relative;
	vertical-align: middle;
}

.product-thumb .price .price-old:before {
	content: "";
	position: absolute;
	top: 9px;
	width: 100%;
	height: 1px;
	display: block;
	background: #ff004b;
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.product-thumb .price .price-tax {
	display: block;
	font-size: 11px;
	margin: 0;
}

.product-thumb .pr-name {
	margin-bottom: 10px;
	min-height: 40px;
}

.related .product-thumb .pr-name {
	height: 37px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-thumb .pr-name a {
	color: #001a34;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 60px;
	line-height: 20px;
	font-size: 15px;
}

.product-thumb .pr-name a:hover {
	color: #ff004b;
}

.product-thumb .flex-caption {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.product-thumb .descr {
	font-size: 12px;
	margin-top: 10px;
	color: #7d7d7d;
	line-height: 18px;
}

.product-thumb .rating {
	font-size: 0;
	display: flex;
	align-items: center;
	height: 20px;
}

.related .product-thumb .rating {
	margin: 0 -1px 4px -1px;
}

.product-thumb .image {
	margin: 10px 0;
	position: relative;
}

.product-thumb .caption .button-group {
	margin-top: 16px;
}

.product-thumb .button-group button {
	height: 36px;
	line-height: 34px;
	width: 52px;
	font-size: 0;
	font-weight: normal;
	position: relative;
}

.product-thumb:hover .button-group button {
	width: auto;
	padding-left: 45px;
	font-size: 15px;
}

.product-thumb:hover .button-group button:after {
	left: 25px;
}

.product-thumb .button-group button:after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/image/catalog/icon-svg/cart.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: -9px 0 0 -11px;
}

@media only screen and (min-width: 768px) {
	.product-list .product-thumb {
		padding: 15px 0;
		overflow: hidden;
	}
	.product-list .product-thumb .image {
		width: 25%;
		text-align: center;
		position: relative;
		margin: 0;
		float: left;
	}
	.product-list .product-thumb .caption {
		width: 45%;
		padding: 0 20px!important;
		float: left;
	}
	.product-list .product-thumb.transition .short-attribute {
		display: block;
		z-index: 5;
		position: static;
		width: 30%;
		padding: 0;
		float: left;
	}
	.product-list .product-thumb.transition .short-attribute:before,
	.product-list .product-thumb.transition:hover .short-attribute:after,
	.product-list .product-thumb.transition:hover:before {
		display: none;
	}
	.product-list .product-thumb.transition .short-attribute__list {
		border-radius: 4px;
		position: relative;
		padding: 8px 16px;
		border: none;
		background: #fff;
		margin-right: 15px;
		border: 1px solid #f2f2f2;
	}
	.product-list .product-thumb .button-form {
		right: auto;
		left: 10px;
		top: 10px;
	}
	.product-list .product-thumb .caption-content {
		height: 170px;
	}
	.product-list .product-thumb .button-group button {
		width: auto;
		font-size: inherit;
		padding-left: 45px;
	}
	.product-list .product-thumb .button-group button:after {
		left: 25px;
	}
}

.price-economy {
	color: #008a29;
	white-space: nowrap;
	display: inline-block;
	font-size: 13px;
	background: transparent;
	padding: 3px 10px 2px;
	line-height: 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0;
	margin: 7px 0 0 0;
	border: 1px solid #008a29;
}

.price-percent {
	display: inline-block;
	font-size: 11px;
	color: #fcfeff;
	background: #ff004b;
	min-width: 35px;
	height: 16px;
	line-height: 17px;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
	font-weight: 600;
}

.rating span {
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	padding: 0 1px;
	display: inline-block;
	box-sizing: content-box;
}

.rating .star {
	background-image: url(/image/catalog/icon-svg/review-star.svg);
}

.rating .star-empty {
	background-image: url(/image/catalog/icon-svg/empty-star.svg);
}

.product-thumb .caption {
	padding: 10px;
	position: relative;
}

.product-thumb.transition .caption {
	padding: 0;
}

.product-thumb .caption-content {
	min-height: 212px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.related .product-thumb .caption-content {
	height: 120px;
}

.product-thumb .rating .reviews-count {
	color: #bfbfbf;
	margin-left: 8px;
	font-size: 13px;
	line-height: normal;
}

.product-thumb.transition .short-attribute {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	padding-bottom: 6px;
	margin-top: 0;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.product-thumb.transition:hover .short-attribute {
	display: block;
}

.product-thumb.transition .short-attribute:before {
	position: absolute;
	top: -20px;
	left: -10px;
	right: -10px;
	z-index: 1;
	height: 20px;
	content: "";
	background: #fff;
}

.product-thumb.transition:hover .short-attribute:after {
	position: absolute;
	content: "";
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
	background: #fff;
	bottom: 0;
	top: 0;
	right: -10px;
	left: -10px;
}

.product-thumb.transition .short-attribute__list {
	position: relative;
	z-index: 1;
	padding: 12px 8px;
	line-height: 21px;
	border-top: 1px solid #f2f2f2;
}

.product-thumb.transition .short-item span {
	font-size: 13px;
}

.product-thumb.transition .short-item .attr-left {
	padding: 0 6px 0 0;
	color: #929292;
}

.product-thumb.transition .short-item .attr-right {
	color: #000;
}

.product-extension .caption {
	padding: 10px 15px;
}

.product-thumb .button-form {
	overflow: hidden;
	z-index: 1;
}

.product-thumb .button-form {
	position: absolute;
	left: auto;
	right: 10px;
	text-align: center;
	top: 10px;
	bottom: auto;
	opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

@media only screen and (min-width: 1200px) {
	.product-thumb .button-form {
		right: 0;
		top: 0;
		opacity: 0;
		-khtml-opacity: 0;
		-webkit-opacity: 0;
		-moz-opacity: 0;
	}
}

.product-thumb:hover .button-form {
	opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

.product-thumb .button-form button+button {
	width: 20%;
	border-left: 1px solid #e7e7e7;
}

.product-thumb .button-form .wishlist {
	border: 0 none;
	display: inline-block;
	vertical-align: top;
	height: 35px;
	width: 35px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	font-size: 0;
	padding: 0;
	line-height: 0;
	background-size: 16px;
	background-image: url(/image/catalog/icon-svg/heart-outline.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-box-shadow: inset 0px 3px 10px 0px rgba(153, 153, 153, 0.35);
	-moz-box-shadow: inset 0px 3px 10px 0px rgba(153, 153, 153, 0.35);
	box-shadow: inset 0px 3px 10px 0px rgba(153, 153, 153, 0.35);
}

.product-thumb .button-form .compare {
	border: 0 none;
	display: inline-block;
	vertical-align: top;
	height: 35px;
	width: 35px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	font-size: 0;
	padding: 0;
	line-height: 0;
	background-size: 16px;
	background-image: url(/image/catalog/icon-svg/scale-in-balance.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-box-shadow: inset 0px 3px 10px 0px rgba(153, 153, 153, 0.35);
	-moz-box-shadow: inset 0px 3px 10px 0px rgba(153, 153, 153, 0.35);
	box-shadow: inset 0px 3px 10px 0px rgba(153, 153, 153, 0.35);
}

.product-thumb .button-form .wishlist:hover {
	background-image: url(/image/catalog/icon-svg/heart-outline-white.svg);
	background-color: #000000;
	color: #ffffff;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}

.product-thumb .button-form .compare:hover {
	background-color: #000000;
	color: #ffffff;
	background-image: url(/image/catalog/icon-svg/scale-in-balance-white.svg);
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}

.product-thumb .button-form .fa {
	font-size: 17px;
	display: none;
}

.product-extension .caption-content {
	height: 170px;
}

.product-extension .pr-name a {
	height: 60px;
}

.toolbar-action #list-view {
	background-image: url(/image/catalog/icon-svg/list.svg);
}

.toolbar-action #grid-view {
	background-image: url(/image/catalog/icon-svg/grid.svg);
}

.toolbar-action #list-view.active {
	background-image: url(/image/catalog/icon-svg/list-active.svg);
}

.toolbar-action #grid-view.active {
	background-image: url(/image/catalog/icon-svg/grid-active.svg);
}

.toolbar-action {
	font-size: 0;
	margin-top: 3px;
}

.toolbar-action>span {
	width: 20px;
	height: 20px;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.toolbar-action>span+span {
	margin-left: 10px;
}

#input-sort.input-form,
#input-limit.input-form {
	border-color: #eff0f4;
	padding: 0 5px;
	border-radius: 3px;
	background: #fff;
}

#input-sort.input-form,
#input-limit.input-form,
#compare-total.compare-link {
	height: 25px;
	font-size: 13px;
}

#input-sort.input-form:focus,
#input-limit.input-form:focus {}

.compare-link {
	display: inline-block;
	line-height: 24px;
	padding: 0 35px 0 10px;
	background: #eff0f4;
	border-radius: 25px;
	color: #1abc9c;
	position: relative;
	font-size: 13px;
}

.compare-link:hover {
	background: #f5f5f5;
	color: inherit;
}

.form-compare .compare-count {
	display: inline-block;
	min-width: 25px;
	height: 25px;
	line-height: 25px;
	background: #1abc9c;
	font-size: 12px;
	color: #ffffff;
	border-radius: 0 25px 25px 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	padding: 0 3px 0 0;
	font-weight: 600;
	box-shadow: 0 0 20px rgba(26, 188, 156, 0.41);
}

.subcat-img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
}

.h1-product--name {
	font-size: 16px;
	margin: 0;
}

@media only screen and (min-width: 1200px) {
	.h1-product--name {
		font-size: 28px;
	}
}

.product-block .goods-header {
	margin: 0 0 20px;
}

.content-body {
	margin: 36px 0;
}

.product-block .rating {
	margin: 0 0 28px;
}

.product-block .rating span {
	width: 14px;
	height: 14px;
}

.product-block .rating>* {
	display: inline-block;
	margin: 0 16px 0 0;
	vertical-align: middle;
}

.product-block .rating a {
	color: #000;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143rem;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px dotted #000;
}

.product-block .rating a:hover {
	color: #ff4e4f;
	border-color: transparent;
}

.product-block .rating .write-review {
	color: #8b8b8b;
	text-decoration: none;
	border-bottom: none;
}

.product-block .product-points {
	display: inline-block;
	margin: 0 0 28px;
	vertical-align: top;
}

.product-block .product-points .text-points {
	position: relative;
	font-size: 12px;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #fd0;
	padding: 0 10px;
	letter-spacing: .5px;
	color: #000;
	z-index: 15;
	font-weight: 600;
}

.product-block .product-points .text-points:after,
.product-block .product-points .text-points:before {
	content: '';
	position: absolute;
	display: block;
	right: -7px;
}

.product-block .product-points .text-points:before {
	width: 0;
	height: 0;
	border-top: 13px solid #fd0;
	border-right: 7px solid transparent;
	top: 0;
}

.product-block .product-points .text-points:after {
	width: 0;
	height: 0;
	border-bottom: 13px solid #fd0;
	border-right: 7px solid transparent;
	bottom: 0;
}

.product-button .add-to-cart {
	min-width: 160px;
	position: relative;
	overflow: hidden;
	transition: 0.4s;
}

@media only screen and (min-width: 1200px) {
	.product-button .add-to-cart:before {
		content: "";
		width: 19px;
		height: 19px;
		background-size: cover;
		background-image: url(/image/catalog/icon-svg/cart.svg);
		display: inline-block;
		position: absolute;
		left: -56px;
		top: 10px;
		transition: 0.4s;
		opacity: 0;
	}
	.product-button .add-to-cart:hover:before {
		left: 20px;
		opacity: 1;
	}
	.product-button .add-to-cart:hover {
		padding-left: 40px;
	}
}

.product-block .product-points .text-points,
.add-wishlist .wishlist-btn,
.add-compare .compare-btn {
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
}

.add-wishlist .wishlist-btn,
.add-compare .compare-btn {
	color: #8b8b8b;
	cursor: pointer;
	font-size: 0;
}

@media screen and (min-width: 1200px) {
	.add-wishlist .wishlist-btn,
	.add-compare .compare-btn {
		font-size: 13px;
	}
}

.add-wishlist .wishlist-btn:hover,
.add-compare .compare-btn:hover,
.product-block .rating .write-review:hover {
	color: #ff4e4f;
}

.add-wishlist .wishlist-btn i {
	background-image: url(/image/catalog/icon-svg/heart.svg);
}

.add-wishlist .compare-btn i {
	background-image: url(/image/catalog/icon-svg/graph.svg);
}

.add-wishlist .wishlist-btn:hover i {
	background-image: url(/image/catalog/icon-svg/heart-hover.svg);
}

.add-wishlist .compare-btn:hover i {
	background-image: url(/image/catalog/icon-svg/graph-hover.svg);
}

.add-wishlist .wishlist-btn i,
.add-compare .compare-btn i {
	width: 19px;
	height: 19px;
	background-size: cover;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

.card-cond-item {
	margin: 0 0 36px;
}

.card-cond-item span>span.text-success {
	background: #2bb52d;
}

.card-cond-item span>span.text-danger {
	background: #ff0010;
}

.card-cond-item span>span.text-success,
.card-cond-item span>span.text-danger {
	padding: 2px 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
}

.card-cond-item a {
	color: #3498db;
}

.card-cond-item>p {
	display: block;
	margin: 0 0 3px;
}

.card-cond-item>p>span {
	display: inline-block;
	vertical-align: top;
	color: #001a34;
}

.card-cond-item .cond-list {
	color: #8b8b8b;
	margin-right: 10px;
}

.product-block .product-button {
	margin: 20px 0;
}

.product-block .order-price {
	line-height: normal;
	margin: 0 0 28px;
	position: relative;
}

.product-block .price .special-price,
.product-block .price .main-price {
	font-size: 35px;
}

.product-block .price .special-price,
.product-block .price .main-price {
	font-weight: 700;
}

.product-block .price .main-price,
.product-block .price .special-price {
	color: #001a34;
	position: relative;
}

.product-block .price .old-price {
	display: inline-block;
	color: #001a34;
	position: relative;
	font-size: 15px;
	margin-right: 7px;
	vertical-align: middle;
}

.product-block .price .old-price:before {
	content: "";
	display: block;
	background: #e6244b;
	height: 1px;
	-webkit-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	transform: rotate(-12deg);
	width: 100%;
	position: absolute;
	left: 0;
	top: 45%;
	z-index: 1;
}

.product-block .special-price .dsc-tooltip {
	width: 18px;
	height: 18px;
	padding: 0;
	border: 1px solid #d5d5d5;
	border-radius: 100%;
	background: #fff;
	color: #000;
	font-size: 10px;
	line-height: 17px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.product-block .price .discount-price-block {
	margin-top: 15px;
}

.product-block .discount-price-block>div {
	margin-bottom: 7px;
	color: #999;
}

.product-block .discount-price-block .discount-quantity {
	font-weight: 300;
	color: #fff;
	padding: 0 7px;
	background: #00b894;
	border-radius: 20px;
	text-align: center;
	font-size: 13px;
}

@-webkit-keyframes submenu-show {
	from {
		-webkit-transform: scale(.85);
		transform: scale(.85);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes submenu-show {
	from {
		-webkit-transform: scale(.85);
		transform: scale(.85);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

.header-menu-nav-toggle i {
	font-size: 24px;
	color: #495057;
}

.card-row {
	margin: 0 0 48px;
}

.nav-content {
	margin: 0 0 25px 0;
	color: #000;
}

.nav-content .nav-title {
	font-size: 20px;
	color: #000;
	margin: 0 0 16px;
}

.nav-content .nav-form {
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #f2f3f5;
}

.nav-form>h4 {
	border: medium none;
	color: #001a34;
	display: block;
	margin: -20px -20px 20px;
	text-align: left;
	background: #f2f3f5;
	padding: 15px 15px 15px 45px;
	position: relative;
	text-transform: uppercase;
}

.description-text.nav-form>h4:before,
.params-block.nav-form>h4:before,
.review-header.nav-form>h4:before {
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: 13px;
	left: 12px;
}

.description-text.nav-form>h4:before {	
	background-image: url(/image/catalog/icon-png/001-miscellaneous.png);
}

.params-block.nav-form>h4:before {
	background-image: url(/image/catalog/icon-png/003-settings.png);
}

.review-header.nav-form>h4:before {
	background-image: url(/image/catalog/icon-png/002-conversation.png);
}

.params-title {
	color: #000;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.42857143rem;
}

.params-content .params-title {
	font-weight: 700;
	margin: 0 0 20px;
}

.params-content .card-params {
	margin: 0 0 12px;
	font-size: 14px;
}

.params-content .card-params span {
	display: inline-block;
	vertical-align: bottom;
	width: 48%;
}

.params-content .card-params span:first-child {
	color: #8b8b8b;
	margin: 0 2.5% 0 0;
	position: relative;
	vertical-align: top;
}

.params-content .card-params b {
	background: #ffffff;
	font-weight: 400;
	padding: 0 20px 0 0;
	position: relative;
	z-index: 1;
}

.params-content .card-params span:first-child:after {
	border-bottom: 1px dotted #d4d4d4;
	bottom: 5px;
	content: '';
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.params-block {
	margin: 0;
	padding: 0 0 48px;
}

.tags-group {
	padding: 36px 0 0;
}

.tags-group .tags-list {
	padding: 0;
	margin: 0 0 36px;
}

.tags-group .tags-group-list {
	font-size: 0;
	max-height: 28px;
	overflow: hidden;
}

.tags-group .tags-item {
	background: #f2f2f2;
	border: 0;
	border-radius: 40px;
	display: inline-block;
	margin: 0 8px 8px 0;
	-webkit-transition: background .5s;
	transition: background .5s;
}

.tags-group .tags-item a {
	color: #000;
	font-weight: 400;
	font-size: 14px;
	display: block;
	padding: 4px 12px;
	text-decoration: none;
}

.tags-group .tags-item:hover {
	background: #e5e5e5;
}

.review-title-normal {
	font-weight: 400;
	font-size: 24px;
}

.review-header {
	padding: 36px 0 20px;
}

.product-review-block .comment-info {
	background: #f6f6f6;
	margin: 0 40px 0 0;
	padding: 23px 30px 17px 40px;
	width: calc(100% - 655px);
}

.review-user-block {
	padding-left: 70px;
	position: relative;
	margin: 25px 0;
}

.review-user-block:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(/image/catalog/icon-svg/review-user-icon.svg);
	background-size: cover;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.review-user-block:before,
.review-user-block .review-user-author,
.review-user-block .review-date-added {
	display: inline-block;
}

.review-user-block .review-user-author {
	font-weight: 700;
	font-size: 17px;
	margin-right: 7px;
}

.review-user-block .review-date-added {
	color: #999;
}

.review-user-block .review-user-author,
.review-user-block .review-user-text {
	margin-bottom: 10px;
}

.review-item-count {
	display: inline-block;
	min-width: 21px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	border-radius: 30px;
	background: #ffdd00;
	font-size: 13px;
	vertical-align: 3px;
	margin-left: 5px;
}

.text-empty {
	font-size: 28px;
	font-weight: 700;
	color: #eee;
	text-transform: uppercase;
	padding: 0 0 30px 0;
	line-height: normal;
}

@media only screen and (min-width: 992px) {
	.text-empty {
		font-size: 36px;
	}
}

#content .text-empty {
	padding-top: 15px;
}

#content .text-empty:first-child {
	padding-top: 0;
}

.subcat-block .subcat {
	margin-bottom: 20px;
}

.subcat-block .subcat a {
	background: #f2f3f5;
	padding: 4px 11px 4px;
	color: #001a34;
	border-radius: 3px;
	margin: 0 2px 7px;
	font-size: 13px;
}

.subcat-block .subcat a:hover {
	background: #14233d;
	color: #fff;
}

.subcat-block .subcat a {
	display: inline-block;
}

.catalog-page {
	background: #fcfeff;
}

.catalog-content {
	margin: 20px 0;
}

.catalog-content .product-layout {
	padding-left: 0;
	padding-right: 0;
}

.catalog-content .row {
	margin-left: 0;
	margin-right: 0;
}


/* @media (min-width: 1200px) {
	#column-left,
    #column-right {
		width: 20%;
	}
	#content.col-80 {
		width: 80%;
	}
    #content.col-60	{
		width: 60%;
	}
} */

.toolbar-form,
.des-thumb-form {
	padding: 13px;
	border-radius: 4px;
	border: 1px solid #f2f2f2;
}

.product-container {
	margin-top: 15px;
}

#column-left .page-title,
#column-right .page-title {
	border: medium none;
	color: #222;
	letter-spacing: .5px;
	width: 100%;
	display: block;
	margin: 0;
	text-align: left;
	background: #f2f3f5;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 17px;
	border-bottom: 2px solid #ff004b;
}

.image-additional {
	float: left;
	margin: 0 10px 10px 0;
}

.image-additional a {
	margin-bottom: 0;
	border: 1px solid #ededed;
	padding: 4px;
	border-radius: 4px;
}


/* mob-menu */

.mobile-block {
	height: 50px;
	width: 100%;
	position: relative;
	background: #ffffff;
}

.mobile-menu {
	top: 0;
	left: -38%;
	bottom: 0;
	width: 40%;
	position: absolute;
	-webkit-transition: left .1s ease-in-out;
	transition: left .1s ease-in-out;
	background: #fff;
	z-index: 54;
	margin-left: -3vw;
}

@media only screen and (max-width: 768px) {
	.mobile-menu {
		left: -54%;
	}
	.mobile-menu,
	.mobile-menu:after {
		width: 55%;
	}
}

@media only screen and (max-width: 480px) {
	.mobile-menu {
		left: -80%;
	}
	.mobile-menu,
	.mobile-menu:after {
		width: 80%;
	}
}

.mobile-menu.no-touch {
	z-index: 46;
}

.menu-control {
	display: inline-block;
	height: 16px;
	width: 16px;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	vertical-align: middle;
}

.menu-control,
.menu-control span {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.menu-header-control {
	position: absolute;
	right: -50px;
	top: 15px;
	height: 20px;
	width: 24px;
}

.menu-control span {
	display: block;
	height: 2px;
	width: 100%;
	background: #101012;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	position: absolute;
	left: 0;
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.menu-control.menu-control-active span {
	background: #ffffff;
}

.menu-control span:first-child {
	top: 0;
}

.menu-control span:nth-child(2),
.menu-control span:nth-child(3) {
	top: 50%;
	margin-top: -1px;
}

.menu-control span:nth-child(4) {
	bottom: 0;
}

.menu-mobile-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow-x: hidden;
}

.menu-control.menu-control-active span:first-child {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.menu-control.menu-control-active span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-control.menu-control-active span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu-control.menu-control-active span:nth-child(4) {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.mobile-menu.show-menu {
	left: 0;
	margin-left: 0;
	position: fixed;
}

.menu-mobile-item {
	color: #252525;
	background: #fff;
}

.menu-mobile-list ul {
	margin: 0;
	padding: 0;
}

.menu-mobile-list li {
	font-size: 15px;
}

.menu-mobile-item.menu-mobile-item-title {
	background: #eaedef;
	font-weight: 700;
	font-size: 16px;
}

.menu-mobile-item .menu-mobile-item-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 0 0 20px;
	border-bottom: 1px solid #ededed;
}

.menu-mobile-item .menu-mobile-item-link>span {
	width: 100%;
	padding: 13.5px 0;
}

.menu-mobile-item a {
	color: #252525;
	z-index: 1;
}

.menu-mobile-list a {
	text-decoration: none;
}

.menu-mobileitem.menu-mobileitem-title .menu-mobile-item-description {
	font-size: 14px;
	color: #858d8f;
	font-weight: 400;
}

.menu-shadow {
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	z-index: 47;
	display: none;
}

.menu-shadow,
.menu-shadow.menu-shadow-active {
	position: fixed;
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.menu-shadow.menu-shadow-active {
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: .8;
}

.mobile-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.mobile-logo a {
	display: block;
}

.mobile-logo img {
	max-width: 100%;
	max-height: 100%;
}


/* mobile menu  */

.mobile-category-title {
	line-height: 50px;
	margin: 0;
	height: 50px;
	width: auto;
	z-index: auto;
	background-color: #eaedef;
	padding-left: 20px;
	display: flex;
	position: relative;
}

.mobile-category-title:after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 20px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #eaedef;
	z-index: 2;
}

.mobile-category-title>a {
	padding: 0!important;
}

.mobile-category-title>a>span {
	color: #001a34;
	font-size: 16px;
	margin: 0;
	display: flex;
	align-items: center;
}


/* mobile-search */

.mobile-block .mobile-search {
	position: absolute;
	right: 10px;
	top: 13px;
	display: block;
	width: 22px;
	height: 22px;
	background-size: cover;
	background-image: url(/image/catalog/icon-svg/search-gray.svg);
}

.mobile-block .mobile-search.show-icon {
	background-image: url(/image/catalog/icon-svg/cancel.svg);
	z-index: 47;
}

.mobile-block .header-search {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	top: 50px;
	z-index: 100;
	display: none;
}

.mobile-block .header-search.search-active {
	display: block;
}

.mobile-block .header-search input.input-text {
	border-radius: 0;
	background: #fff;
	font-weight: normal;
}

.mobile-block .search-content input::-webkit-input-placeholder {
	color: #000;
}

.mobile-block .search-content input::-moz-placeholder {
	color: #000;
}

.mobile-block .search-content input:-moz-placeholder {
	color: #000;
}

.mobile-block .search-content input:-ms-input-placeholder {
	color: #000;
}

.product-img {
	position: relative;
}

.product-count {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #ff4e4f;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 11px;
	width: 20px;
	height: 20px;
	line-height: 21px;
}

.price-tax {
	font-size: 13px;
	margin-top: 6px;
}

.discount-price-block {
	margin-top: 18px;
}

.carousel .owl-controls .owl-page span {
	width: 16px;
	height: 16px;
	background: #ccc;
	box-shadow: none;
}

.carousel .owl-controls .owl-page span:hover {
	background: #ff004b;
	border-color: #ff004b;
}

.carousel .owl-controls .owl-page.active span {
	background: #565656;
}


/* HTML Блок - Преимущества  */

.block-infos {
	padding: 0;
	margin-top: 10px;
	list-style: none;
}

.block-infos>div:first-child {
	border-top: none;
}

.block-infos>div .inner {
	padding: 12px 0;
	text-align: center;
	border: 1px solid #f2f2f2;
}

.block-infos>div .inner i {
	font-size: 50px;
	padding-top: 8px;
	color: inherit;
	width: 60px;
	height: 60px;
	margin-bottom: 6px;
	text-align: center;
}

.block-infos>div .inner .info-cont a {
	font-size: 14px;
	color: #001a34;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
}

.block-infos>div .inner .info-cont p {
	color: #888;
	font-size: 12px;
	line-height: 100%;
	margin-bottom: 0;
}

.contact-form i {
	padding-right: 5px;
	width: 20px;
	color: #ef244d;
}

.contact-form .address-form {
	font-size: 11px;
	padding-left: 22px;
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
	color: #a9a9a9;
}

.contact-form .address-form i {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
}

.options-block .custom-field {
	margin-bottom: 20px;
}

.options-block .custom-field .field-item {
	color: #8b8b8b;
}

.options-block .custom-field .field-text {
	text-transform: uppercase;
	font-weight: 700;
	color: #e41d94;
}

.carousel-box .item {
	padding: 25px 0;
}

.product-quantity label {
	display: block;
}

.product-quantity input {
	padding: 0 10px;
	border: 1px solid #f2f3f5;
	width: 60px;
	height: 35px;
	border-width: 1px 0 1px 0;
}

.product-quantity .plus-minus {
	display: -webkit-flex;
	display: flex;
}

.product-quantity .plus-minus button {
	width: 35px;
	height: 35px;
	line-height: 30px;
	padding: 0;
	border-radius: 0;
}

.attention {
	background: #fff;
	color: #999;
	font-size: 12px;
	border-top: 1px solid #eef0f2;
}

.attention .att {
	padding: 40px 0 20px 55px;
	position: relative;
	font-style: italic;
	line-height: 20px;
}

.attention-img {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -23px;
}

.footer-payment {
    margin-top: 20px;
}
.footer-payment-item {
    vertical-align: middle;
    margin-right: 10px;
}
.footer-social {
    margin-top: 15px;
}
.footer-social-item {
    width: 40px;
    line-height: 40px;
    text-align: center;
    height: 40px;
}
.footer-social-link {
    display: inline-block;
    font-size: 18px;
    border: 1px solid #58646c;
    border-radius: 20px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.footer-social-item+.footer-social-item {
    margin-left: 5px;
}
.footer-social-item.footer-social-vk:hover {
    color: #4c75a3;
    border-color: #8a97a0;
}
.footer-social-item.footer-social-youtube:hover {
    color: #c4302b;
    border-color: #8a97a0;
}
.footer-social-item.footer-social-instagram:hover {
    color: #C13584;
    border-color: #8a97a0;
}